data/antigenicity/reports_clean
data/antigenicity/reports_xlsx
data/antigenicity/hi_processed
data/gisaid/ha_processed*
data/gisaid/nextclade_annotations
data/gisaid/raw
data/recommended_vaccines_from_gisaid_ha
__pycache__
*/__pycache__
*/tmp
tmp
runs
*/nohup*
evaluation/jupyter_notebooks_figs/.ipynb_checkpoints
evaluation/jupyter_notebooks_figs/figs
legacy/*
