data/antigenicity/reports_clean
data/antigenicity/reports_xlsx
data/antigenicity/hi_processed
data/gisaid/ha_processed
data/gisaid/nextclade_annotations
data/gisaid/ha.fasta
data/gisaid/metadata.csv
data/recommended_vaccines_from_gisaid_ha
__pycache__
*/__pycache__
*/tmp
tmp
runs
*/nohup*
